---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app matter-server
spec:
  interval: 15m
  chart:
    spec:
      chart: app-template
      version: 3.4.0
      interval: 15m
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 3
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    crds: CreateReplace
    cleanupOnFail: true
    remediation:
      retries: 3
      strategy: uninstall
  uninstall:
    keepHistory: false
  values:
    controllers:
      matter-server:
        type: statefulset
        pod:
          hostNetwork: true
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: 6.6.0
              pullPolicy: IfNotPresent

            env:
              TZ: "${TIMEZONE}"
              MATTER_SERVER__INSTANCE_NAME: *app
              MATTER_SERVER__PORT: &wsPort 5580
              MATTER_SERVER__APPLICATION_URL: &host matter.${SECRET_DOMAIN}
              MATTER_SERVER__LOG_LEVEL: debug

            resources:
              requests:
                memory: "100M"
              limits:
                memory: "500M"

    defaultPodOptions:
      securityContext:
        runAsUser: 0 # Must be run as root user
        runAsGroup: 0
        runAsNonRoot: false # Must be run as root user
        fsGroup: 0
        fsGroupChangePolicy: "OnRootMismatch"
        supplementalGroups:
          - 34
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet

    service:
      app:
        controller: *app
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: *host
          io.cilium/lb-ipam-ips: ${MATTER_IP}, ${MATTER_IPV6}
        ports:
          ws:
            protocol: TCP
            port: *wsPort
            primary: true
        externalTrafficPolicy: Cluster

    ingress:
      internal:
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        className: internal
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: *wsPort
        tls:
          - hosts:
              - *host

    persistence:
      data:
        type: nfs
        server: ${NFS_IP}
        path: /config/matter-server
