---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.5.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
      interval: 30m
  install:
    createNamespace: true
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      esphome:
        pod:
          hostNetwork: true

        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2024.8.0

            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5

            resources:
              requests:
                cpu: 20m
                memory: 64M
              limits:
                memory: 1024M

    service:
      app:
        controller: esphome
        ports:
          http:
            port: &esphome 6052
      lb: 
        controller: esphome
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetesio/hostname: &host esphome.${SECRET_DOMAIN}
          io.cilium/lb-ipam-ips: ${ESPHOME_IP}
        ports:
          ws:
            protocol: TCP
            port: *esphome
            primary: true
        externalTrafficPolicy: Cluster

    ingress:
      app:
        className: internal
        annotations:
          external-dns.alpha.kubernetes.io/target: internal.${SECRET_DOMAIN}
        hosts:
          - host: *host
            paths:
              - path: /
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host

    persistence:
      config:
        type: nfs
        server: ${NFS_IP}
        path: /config/esphome
        globalMounts:
          - path: /config
      esphome-cache:
        type: emptyDir
        globalMounts:
          - path: /config/.esphome
